# Exclude everything by default
*

# Conditionally include things we know we want in the container
# Copy .git/refs/heads/* into the container
!.git
.git/*
!.git/HEAD
!.git/refs/heads/*
!.jsonschema-tools.yaml
!.pipeline
!COPYING
!contrib/oauth-client-example
!Dockerfile
!docs
# exclude generated docs
docs/_build
!jsonschema
!manage.py
!package-lock.json
!package.json
!poetry.lock
!pyproject.toml
!README.rst
!static
!tests
!toolhub
!vue
!vue.config.js
