# Flake8 does not support configuration via pyproject.toml
# See <https://gitlab.com/pycqa/flake8/-/issues/428> for details

[flake8]
exclude =
    .git,
    __pycache__,
    docs,
    manage.py,
    migrations,
    node_modules
format = pylint
max-line-length = 79
show-source = true
flake8-import-order = appnexus
select = E,F,W,C90,D,R,B,B9
extend-ignore =
    # needs python >=3.10; `zip()` without an explicit `strict=` parameter.
    B905,
    # disable all "convention" rules
    C*,
    # missing-docstring-in-public-module
    D100,
    # missing-docstring-in-magic-method
    D105,
    # first-line-should-end-with-period
    D400,
    # first-line-should-be-in-imperative-mood
    D401,
    # line-too-long
    E501,
    # no-member
    E1101,
    # could-be-function
    R201,
    # too-many-ancestors
    R901,
    # too-few-public-methods
    R903,
    # too-many-return-statements
    R911,
    # too-many-arguments
    R913,
    # useless-super-delegation
    W235,
    # line-break-before-binary-operator
    W503,
    # line-break-after-binary-operator
    W504,
    # fixme
    W511
per-file-ignores =
    # missing docstring in public package
   __init__.py:  D104
   # line too long
   settings.py: B950
