---
version: "3.2"
services:
  web:
    build:
      context: .
      dockerfile: .pipeline/local-python.Dockerfile
    image: "toolhub:dev-python"
    user: somebody
    working_dir: /srv/app
    command: >
      /srv/dockerize/bin/dockerize -wait tcp://db:3306
      poetry run
      python3 manage.py runserver --nostatic 0.0.0.0:8000
    environment:
      - DJANGO_SECRET_KEY
      - DJANGO_DEBUG
      - DJANGO_ALLOWED_HOSTS
      - DJANGO_SETTINGS_MODULE=toolhub.settings
      - DJANGO_SUPERUSER_PASSWORD
      - LOGGING_HANDLERS
      - LOGGING_LEVEL
      - DB_ENGINE
      - DB_NAME
      - DB_USER
      - DB_PASSWORD
      - DB_HOST
      - DB_PORT
      - CACHE_BACKEND
      - CACHE_LOCATION
      - WIKIMEDIA_OAUTH2_URL
      - WIKIMEDIA_OAUTH2_KEY
      - WIKIMEDIA_OAUTH2_SECRET
      - "ES_HOSTS=${ES_HOSTS:-search:9200}"
      - "FIREFOX_DEVTOOL_HACK=${FIREFOX_DEVTOOL_HACK:-false}"
    volumes:
      - type: bind
        source: .
        target: /srv/app
        consistency: cached
    ports:
      - "${TOOLHUB_HTTP_PORT:-8000}:8000"
    restart: always
    depends_on:
      - db
      - nodejs
      - search

  db:
    image: mariadb:10.4
    restart: always
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DOCKER_DB_MYSQL_ROOT_PASSWORD}
    volumes:
      - type: volume
        source: dbdata
        target: /var/lib/mysql
        consistency: consistent

  nodejs:
    build:
      context: .
      dockerfile: .pipeline/dev-nodejs.Dockerfile
    image: "toolhub:dev-nodejs"
    user: somebody
    working_dir: /srv/app
    command:
      - bash
      - -c
      - >-
        npm install &&
        npm run serve:vue
    volumes:
      - type: bind
        source: .
        target: /srv/app
        consistency: cached
    ports:
      - "${TOOLHUB_FRONTEND_PORT:-8001}:8001"

  search:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.14
    restart: always
    environment:
      node.name: es01
      cluster.name: es-toolhub
      discovery.type: single-node
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: -Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "${TOOLHUB_SEARCH_PORT:-9200}:9200"
    volumes:
      - type: volume
        source: esdata
        target: /usr/share/elasticsearch/data
        consistency: cached

  prometheus:
    image: prom/prometheus:v2.0.0
    volumes:
      - type: bind
        source: ./contrib/prometheus/
        target: /etc/prometheus/
        consistency: cached
      - type: volume
        source: prometheusdata
        target: /prometheus
        consistency: cached
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
    ports:
      - "${TOOLHUB_PROMETHEUS_PORT:-9090}:9090"
    depends_on:
      - web
    profiles:
      - monitoring

  oauth-client:
    build:
      context: .
      dockerfile: .pipeline/oauth-client.Dockerfile
    image: "toolhub:oauth-client"
    environment:
      - FLASK_DEBUG=1
      - FLASK_ENV=development
      - SECRET_KEY
      - TOOLHUB_CLIENT_ID
      - TOOLHUB_CLIENT_SECRET
    ports:
      - "${TOOLHUB_CLIENT_PORT:-8002}:8000"
    volumes:
      - type: bind
        source: ./contrib/oauth-client-example
        target: /srv/app
        consistency: cached
    depends_on:
      - web
    profiles:
      - oauth

volumes:
  dbdata:
  esdata:
  prometheusdata:
