.home-card-actions {
	position: absolute;
	bottom: 10px;
}

.home-tool-desc {
	-webkit-line-clamp: 3;
}

.home-tool-title {
	-webkit-line-clamp: 2;
}

.line-clamp {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
