.home-card-actions {
	position: absolute;
	bottom: 10px;
}

.home-tool-desc {
	-webkit-line-clamp: 3;
}

.home-tool-title {
	-webkit-line-clamp: 2;
}

.line-clamp {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-striped tbody tr:nth-of-type( odd ) {
	background-color: var( --v-accent-base );
}

.table-crawler-history .selected tr.v-data-table__selected,
.table-crawler-history .active tbody tr:first-child {
	background: var( --v-primary-base ) !important;
	color: var( --v-bgtext-base );
}
