{% extends "vue/base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load static %}

{% block app %}
{{ block.super }}
<div id="loading-wrapper">
    <div id="loading-text">{% filter force_escape %}{% trans "LOADING" %}{% endfilter %}</div>
  <div id="loading-content"></div>
</div>
{% endblock app %}

{% block css %}
<link rel="stylesheet" href="{% static "vue/css/loading.css" %}">
{% endblock css %}

{% block bundles %}
{{ block.super }}
{% render_bundle "main" %}
{% endblock bundles %}
